.navbar {
  position: fixed;
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  z-index: 2;
  transition: background-color 0.3s ease;
}

.scrolling {
  background-color: rgb(12, 12, 12);
}

.navBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
}

.navBox h3,
h1 {
  cursor: pointer;
  font-weight: 100;
  text-shadow: 2px 2px 4px #000000;
}

.icon {
  height: 20px;
  cursor: pointer;
  color: red;
}

.profileBox {
  display: flex;
  align-items: center;
}

.titleBox img {
  height: 70px;
  width: 100px;
  cursor: pointer;
}

.titleBox {
  padding: 0;
}

.dot {
  width: 9px;
  height: 9px;
  background-color: red;
  border-radius: 50%;
}

.acitve {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navBox h3:hover {
  color: rgb(208, 205, 205);
}

.userIcon {
  cursor: pointer;
  color: red;
  height: 30px;
  margin-left: 10px;
}

.profileBox:hover .username {
  color: rgb(208, 205, 205);
}

.profileContainer {
  position: relative;
}

.fallingMenu {
  position: absolute;
  background-color: rgb(69, 66, 66);
  border-radius: 5px;
  padding: 8px;
  top: 40px;
  right: 0px;
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
}

.fallingMenu:hover {
  color: red;
}
