.navbar {
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3% 5%;
  z-index: 2;
  transition: background-color 0.3s ease;
}

.scrolling {
  background-color: rgb(12, 12, 12);
}

.navBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  min-width: 300px;
}

.navBox h3,
h1 {
  cursor: pointer;
  font-weight: 100;
  text-shadow: 2px 2px 4px #000000;
}

.profileBox {
  display: flex;
  align-items: center;
}

.titleBox img {
  height: 70%;
  min-height: 40px;
  min-width: 90px;
  width: 15%;
  cursor: pointer;
}

.titleBox {
  padding: 0;
}

.navBox h3:hover {
  color: rgb(208, 205, 205);
}

.userIcon {
  cursor: pointer;
  color: red;
  height: 20%;
  max-height: 35px;
  margin-left: 10px;
  margin-right: 10px;
}

.profileBox:hover .username {
  color: rgb(208, 205, 205);
}

.profileContainer {
  position: relative;
}

.fallingMenu {
  position: absolute;
  background-color: rgb(69, 66, 66);
  border-radius: 5px;
  padding: 8px;
  top: 40px;
  right: 0px;
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
  width: 70px;
}

.fallingMenu:hover {
  color: red;
}

.loginBtnBox {
  background-color: red;
  padding: 4px 10px;
  border-radius: 3px;
}

.homeH3:hover {
  border-bottom: solid red;
}

.favoritesH3:hover {
  border-bottom: solid red;
}

.moviesH3:hover {
  border-bottom: solid red;
}
