* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  background-color: black;
  color: white;
  min-height: 100vh;
  overflow-x: hidden;
}

.loader-container {
  position: absolute;
  left: 45%;
  top: 45%;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(224, 21, 21);
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background: linear-gradient(to bottom, black, rgb(60, 58, 58));
}

.login-popup-container {
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 20%;
  left: 27%;
  width: 700px;
  height: 500px;
  background: linear-gradient(147deg, #4d4855 0%, #000000 74%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
  z-index: 1000;
  text-align: center;
}

.login-popup-container::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.title-img {
  height: 160px;
  width: 250px;
  margin-bottom: 40px;
}

.login-popup-container h2 {
  color: #f3eb42;
  margin-bottom: 20px;
}

.login-popup-container h3 {
  color: #261c34;
  margin-bottom: 50px;
}

.btn-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.btn-box button {
  background-color: #f3eb42;
  width: 240px;
  height: 50px;
  border: none;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}

.btn-box button:hover {
  background-color: #d6d056;
}

.icon {
  top: 15px;
  right: 15px;
  position: absolute;
  color: red;
  height: 25px;
  cursor: pointer;
}
