.container {
  position: absolute;
  top: 0px;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-image: url("../images/Netflix-Background.jpg");
  background-size: cover;
}

@media screen and (max-width: 431px) {
  .container {
    position: absolute;
    top: 0px;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-image: url("../images/Netflix-Background.jpg");
    background-size: cover;
  }
}
