.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid;
  padding: 3%;
  border-radius: 5px;
  width: 30%;
  min-width: 300px;
  min-height: 200px;
  border-color: black;
  background-color: rgba(0, 0, 0, 0.8);
}

.container p {
  color: red;
  margin-bottom: 5px;
  font-size: 12px;
}

.inputBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid;
  padding: 6%;
  border-radius: 5px;
  width: 100%;
  border-color: black;
}

.inputBox .input {
  padding-left: 4%;
  margin-bottom: 4%;
  height: 35px;
  border-radius: 5px 0 0 5px;
  border: none;
  width: 100%;
  color: white;
  background-color: rgb(36, 35, 35);
}

.pageTitle {
  width: 100%;
  height: 70px;
  margin-top: 15%;
  margin-bottom: 30%;
}

.questionBox {
  display: flex;
  align-items: baseline;
  justify-content: center;
  border: solid;
  border-radius: 5px;
  margin-top: 20px;
  width: 100%;
  padding: 20px;
  border-color: black;
}

.questionBox h5 {
  color: rgb(88, 87, 87);
}

.questionBox p {
  color: rgb(171, 48, 48);
  font-size: 14px;
  font-weight: bold;
  margin-left: 5px;
  cursor: pointer;
}

.button {
  height: 35px;
  border-radius: 5px;
  border: none;
  width: 100%;
  cursor: pointer;
  background: linear-gradient(315deg, #3f0d12 0%, #a71d31 74%);
  margin-bottom: 10px;
  color: black;
  text-decoration: none;
}

.button:hover {
  background: linear-gradient(315deg, #3f0d12 0%, #a71d31 35%);
}

.inputError {
  padding-left: 4%;
  margin-bottom: 4%;
  height: 35px;
  border-radius: 5px 0 0 5px;
  border: none;
  width: 100%;
  color: white;
  background-color: rgb(36, 35, 35);
  border: 1px solid red;
}

.errorMsg {
  color: red;
}

.input:focus {
  outline: none;
}

.inputContainer {
  display: flex;
  width: 100%;
}

.iconBox {
  width: 35px;
  background: linear-gradient(315deg, #3f0d12 0%, #a71d31 74%);
  border-radius: 0px 5px 5px 0px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.passwordIconBox {
  width: 35px;
  background: linear-gradient(315deg, #3f0d12 0%, #a71d31 74%);
  border-radius: 0px 5px 5px 0px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.passwordIconBox:hover {
  background: linear-gradient(315deg, #3f0d12 0%, #a71d31 35%);
}

.icon {
  color: black;
}

@media screen and (max-width: 431px) {
  .pageTitle {
    width: 130px;
    height: 80px;
    margin-top: 20px;
    margin-bottom: 30px;
  }
}
